<ion-view view-title="">
	<ion-nav-title>
		<span ng-if="defaultLang == 'english'">Application For Compensation / PayU</span>
		<span ng-if="defaultLang == 'spanish'">Solicitud de compensación / PayU</span>
    </ion-nav-title>
	<ion-content>
		<div class="row">			
			<div class="col col-100">						
				<form name="amountRedeemForm" ng-submit="submitamountRedeemForm(amountRedeemForm);" novalidate>				
					<div class="list list-custom">	
						<label class="item item-custom item-input item-floating-label">
							<span class="input-label">
								<span ng-if="defaultLang == 'english'">Points</span>
								<span ng-if="defaultLang == 'spanish'">Puntos</span>
							</span>
							<input type="tel" placeholder="{{ defaultLang == 'english' ? 'Points' : 'Puntos' }}" name="points" ng-model="comData.points" ng-pattern="/^[0-9]{1,15}$/" required>
						</label>
						<p class="error-p" ng-show="amountRedeemForm.points.$error.required && (!amountRedeemForm.points.$pristine || amountRedeemForm.$submitted)">
							<span ng-if="defaultLang == 'english'">This Field Is Required</span>
							<span ng-if="defaultLang == 'spanish'">Este campo es requerido</span>
						</p>
						<p class="error-p" ng-show="amountRedeemForm.points.$error.pattern && (!amountRedeemForm.points.$pristine || amountRedeemForm.$submitted) && !amountRedeemForm.points.$error.minlength">
							<span ng-if="defaultLang == 'english'">Points Are Invalid</span>
							<span ng-if="defaultLang == 'spanish'">Los puntos no son válidos</span>
						</p>
						<label class="item item-custom item-input item-floating-label">
							<span class="input-label">
								<span ng-if="defaultLang == 'english'">Email ID</span>
								<span ng-if="defaultLang == 'spanish'">Identificación de correo</span>
							</span>
							<input type="email" placeholder="{{ defaultLang == 'english' ? 'Email ID' : 'Identificación de correo' }}" name="type_id" ng-model="comData.type_id" required>
						</label>
						<p class="error-p" ng-show="amountRedeemForm.type_id.$error.required && (!amountRedeemForm.type_id.$pristine || amountRedeemForm.$submitted)">
							<span ng-if="defaultLang == 'english'">This Field Is Required</span>
							<span ng-if="defaultLang == 'spanish'">Este campo es requerido</span>
						</p>
						<p class="error-p" ng-show="amountRedeemForm.type_id.$invalid && (!amountRedeemForm.type_id.$pristine || amountRedeemForm.$submitted) && !amountRedeemForm.type_id.$error.required">
							<span ng-if="defaultLang == 'english'">Email Is Not Valid</span>
							<span ng-if="defaultLang == 'spanish'">El correo no es válido</span>
						</p>
					</div>								
					<button class="button button-custom button-block">
						<span ng-if="defaultLang == 'english'">Send Request</span>
						<span ng-if="defaultLang == 'spanish'">Enviar petición</span>
					</button>
				</form>					
			</div>	
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;"></div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
