<ion-view view-title="">
	<ion-nav-title>
		<span ng-if="defaultLang == 'english'">Challenges Friends</span>
		<span ng-if="defaultLang == 'spanish'">Desafíos Amigos</span>
    </ion-nav-title>
	<ion-content>
		<div class="list custom-challenge">			
		  <a href="" ng-click="GotoPage('friend-without-accepted');">
			<div class="item item-button-right">
				<span ng-if="defaultLang == 'english'">Without Accepting</span>
				<span ng-if="defaultLang == 'spanish'">Sin aceptar</span>
				<button class="button button-dark">
				  {{ friendChallenges.not_accpeting }}
				</button>
			</div>
		  </a>
		  <a href="" ng-click="GotoPage('friend-in-progress');">
			<div class="item item-button-right">
				<span ng-if="defaultLang == 'english'">In Progress</span>
				<span ng-if="defaultLang == 'spanish'">En progreso</span>
				<button class="button button-energized">
				  {{ friendChallenges.in_progress }}
				</button>
			</div>
		  </a>
		  <a href="" ng-click="GotoPage('friend-in-failed');">
			<div class="item item-button-right">
				<span ng-if="defaultLang == 'english'">Failed</span>
				<span ng-if="defaultLang == 'spanish'">Ha fallado</span>
				<button class="button button-assertive">
				  {{ friendChallenges.failed }}
				</button>
			</div>
		  </a>
		  <a href="" ng-click="GotoPage('friend-achievements');">
			<div class="item item-button-right">
				<span ng-if="defaultLang == 'english'">Achievement</span>
				<span ng-if="defaultLang == 'spanish'">Logro</span>
				<button class="button button-balanced">
				  {{ friendChallenges.achievement }}
				</button>
			</div>
		  </a>
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;"></div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
