<ion-view view-title="">
	<ion-nav-title>
		<span ng-if="defaultLang == 'english'">Change Password</span>
		<span ng-if="defaultLang == 'spanish'">Cambia la contraseña</span>
    </ion-nav-title>
	<ion-content>
        <div class="row">
          <div class="col col-100">
            <form name="changePassForm" ng-submit="submitchangePassForm(changePassForm);" novalidate>
				<div class="list list-custom">
					<!-- Input -->
					  <label class="item item-custom item-input item-floating-label">
						<span class="input-label">
							<span ng-if="defaultLang == 'english'">Old Password</span>
							<span ng-if="defaultLang == 'spanish'">Contraseña anterior</span>
						</span>
						<input type="password" placeholder="{{ defaultLang == 'english' ? 'Old Password' : 'Contraseña anterior' }}" ng-model="data.old_password" name="old_password" required>
					  </label>
					  <p class="error-p" ng-show="changePassForm.old_password.$error.required && (!changePassForm.old_password.$pristine || changePassForm.$submitted)">
						<span ng-if="defaultLang == 'english'">This Field Is Required</span>
						<span ng-if="defaultLang == 'spanish'">Este campo es requerido</span>
					  </p>
					<!--/ Input -->
					<!-- Input -->
					  <label class="item item-custom item-input item-floating-label">
						<span class="input-label">
							<span ng-if="defaultLang == 'english'">New Password</span>
							<span ng-if="defaultLang == 'spanish'">nueva contraseña</span>
						</span>
						<input type="password" placeholder="{{ defaultLang == 'english' ? 'Password' : 'Contraseña' }}" ng-model="data.password" name="password" ng-minlength="8" required>
					  </label>
					  <p class="error-p" ng-show="changePassForm.password.$error.required && (!changePassForm.password.$pristine || changePassForm.$submitted)">
						<span ng-if="defaultLang == 'english'">This Field Is Required</span>
						<span ng-if="defaultLang == 'spanish'">Este campo es requerido</span>
					  </p>
					  <p class="error-p" ng-show="changePassForm.password.$error.minlength && (!changePassForm.password.$pristine || changePassForm.$submitted)">
						<span ng-if="defaultLang == 'english'">Min 8 Characters Is Required</span>
						<span ng-if="defaultLang == 'spanish'">Se requieren 8 caracteres mínimos</span>
					  </p>
					<!--/ Input -->
					<!-- Input -->
					  <label class="item item-custom item-input item-floating-label">
						<span class="input-label">
							<span ng-if="defaultLang == 'english'">Confirm Password</span>
							<span ng-if="defaultLang == 'spanish'">Confirmar contraseña</span>
						</span>
						<input type="password" placeholder="{{ defaultLang == 'english' ? 'Confirm Password' : 'Confirmar contraseña' }}" ng-model="data.confirmpassword" name="confirmpassword" required ng-pattern="data.password">
					  </label>
					  <p class="error-p" ng-show="changePassForm.confirmpassword.$error.required && (!changePassForm.confirmpassword.$pristine || changePassForm.$submitted)">
						<span ng-if="defaultLang == 'english'">This Field Is Required</span>
						<span ng-if="defaultLang == 'spanish'">Este campo es requerido</span>
					  </p>
					  <p class="error-p" ng-show="changePassForm.confirmpassword.$error.pattern && (!changePassForm.confirmpassword.$pristine || changePassForm.$submitted)">
						<span ng-if="defaultLang == 'english'">Password & Confirm Password Not Match</span>
						<span ng-if="defaultLang == 'spanish'">Contraseña y Confirmar contraseña no coincidente</span>
					  </p>
				    <!--/ Input -->
				</div>
				<button class="button button-custom button-block">
					<span ng-if="defaultLang == 'english'">Submit</span>
					<span ng-if="defaultLang == 'spanish'">Enviar</span>
				</button>
            </form>
          </div>
       	</div>
    </ion-content>
</ion-view>
