<ion-view view-title="">
	<ion-nav-title>
		<span ng-if="defaultLang == 'english'">Compensation / Transaction - Details</span>
		<span ng-if="defaultLang == 'spanish'">Compensación / Transacción - Detalles</span>
    </ion-nav-title>
	<ion-content>
		<div class="shadow-custom">
			<img src="{{ transaction.image_url }}" style="width:100%" alt="challengeImg">	<div class="ion-dom">
				<p class="challenge_heading text-center">{{ transaction.strDescripcion }}</p>
			</div>
		</div>
		<div class="list list-custom">
			<a class="item">
				<span class="datatitle">
					<span ng-if="defaultLang == 'english'">Name</span>
					<span ng-if="defaultLang == 'spanish'">Nombre</span>
				</span>
				<span class="datavalue">{{ transaction.user_name }}</span>
			</a>
			<a class="item">
				<span class="datatitle">
					<span ng-if="defaultLang == 'english'">Challenge</span>
					<span ng-if="defaultLang == 'spanish'">Reto</span>
				</span>
				<span class="datavalue">{{ transaction.strDescripcion }}</span>
			</a>
			<a class="item">
				<span class="datatitle">
					<span ng-if="defaultLang == 'english'">Amount</span>
					<span ng-if="defaultLang == 'spanish'">Cantidad</span>
				</span>
				<span class="datavalue">{{ transaction.amount }}$</span>
			</a>
			<a class="item">
				<span class="datatitle">
					<span ng-if="defaultLang == 'english'">Send / Received</span>
					<span ng-if="defaultLang == 'spanish'">Enviar / Recibir</span>
				</span>
				<span class="datavalue" ng-if="transaction.status == 'received'">
					<span ng-if="defaultLang == 'english'">Received</span>
					<span ng-if="defaultLang == 'spanish'">Recibir</span>
				</span>
				<span class="datavalue" ng-if="transaction.status == 'sent'">
					<span ng-if="defaultLang == 'english'">Sent</span>
					<span ng-if="defaultLang == 'spanish'">Expedido</span>
				</span>
			</a>
			<a class="item">
				<span class="datatitle">
					<span ng-if="defaultLang == 'english'">Date</span>
					<span ng-if="defaultLang == 'spanish'">Fecha</span>
				</span>
				<span class="datavalue">{{ transaction.date_time }}</span>
			</a>
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;"></div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
